<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../STATIC/inicio.css">
    <link rel="stylesheet" href="../STATIC/productos.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
       
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="sobre_nosotros.html">Sobre Nosotros</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="testimonios.html">Testimonios</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <div>
    <div class="titul"> 
        <h1>Productos Disponibles</h1>
        <button id="carrito-btn">Carrito de Compras (0)</button>
    </div>
    <div id="productos-list" class="productos-container"></div>

    <footer>
        <p>&copy; 2024 Gym y Suplementos. Todos los derechos reservados.</p>
    </footer>

    <script src="../STATIC/productos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
</body>
</html>
